body {
	font-family: Calibry, sans-serif;
	font-size: 20px;
	color: #333;
}

.card {
	margin: 15px 0 0 15px;
}

.card li {
	font-size: 14px;
	list-style-type: none;
}

.card span {
	font-size: 12px;
}

.card-img {
	max-height: 198px;
}

.profile {
	float: left; 
}

.projects li {
	font-size: 16px;
	list-style-type: disc;
}


.description {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 270px;
	text-align: center;
	width: 65%;
}

.card-deck {
	width: 90%;
	margin: 0 auto;
}

small {
	font-size: 14px;
	display: block;
	width: 87%;
	margin: 0 auto;
}

@media screen and (max-width: 758px){
	.card {
		margin: 2vw auto;
	}

	.profile {
		float: none;
	}

	.description {
		width: 100%;
	}
}